@media(max-width:1400px) {
  .grid-view {
    .person-cell__badges {
      position: relative;
      top: auto;
      left: 0;
      margin-top: 12px;
      transform: none;
    }
  }

  .person-cell__profile {
    margin-top: 4px;
  }
}
