@media(max-width:992px) {
  .person-view {
    position: relative !important;
    flex-direction: column-reverse;
  }

  .filter {
    margin-top: 30px;
    width: 100%;
  }

  .grid-content {
    width: 100%;
  }
}
