/** @designer: add sass/scss rules here. Upon run-devmode they will be transpiled to css and automatically loaded into the application */
//color variables
$primary: #d35b34;
$secondary: #2f4050;
$danger: #e62c59;
$hover_primary: #be3b10;
$hover_secondary: #1b2a38;
$hover_danger: #d50b3c;
$line: #eee;

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  background: #f9f9f9;
  font-family: sans-serif;
}

figure {
  margin: 0;
  padding: 0;
}

.w-100 {
  width: 100% !important;
}
//default border-radius class

.bdrs {
  border-radius: 6px;
}
//default box-shadow class

.bsh {
  box-shadow: rgba(100, 100, 111, 0.1) 0 6px 24px 0;
}

.button {
  @extend .bdrs;
  display: inline-block;
  padding: 8px 20px;
  outline: transparent;
  border: 1px solid transparent;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;

  &--primary {
    border-color: $primary;
    background-color: $primary;
    color: #fff;

    &:hover {
      border-color: $hover_primary;
      background: $hover_primary;
    }
  }

  &--secondary {
    border-color: $secondary;
    background: $secondary;
    color: #fff;

    &:hover {
      border-color: $hover_secondary;
      background: $hover_secondary;
      color: #fff;
    }
  }

  &--outline-primary {
    border-color: $primary;
    background-color: transparent;
    color: $primary;

    &:hover {
      background: $primary;
      color: #fff;
    }
  }

  &--outline-secondary {
    border-color: $secondary;
    background-color: transparent;
    color: $secondary;

    &:hover {
      background: $secondary;
      color: #fff;
    }
  }

  &--outline-danger {
    border-color: $danger;
    background-color: transparent;
    color: $danger;

    &:hover {
      background: $danger;
      color: #fff;
    }
  }

  &--danger {
    border-color: $danger;
    background: $danger;
    color: #fff;

    &:hover {
      border-color: $hover_danger;
      background: $hover_danger;
      color: #fff;
    }
  }
}

.workspace {
  position: relative !important;
  overflow-y: scroll;
  height: 100% !important;

  & > div {
    &:nth-of-type(2) {
      position: relative !important;
      overflow: visible !important;
    }
  }
}

.person-view {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;
}

.filter {
  @extend .bdrs;
  width: 300px;
  font-size: 1.2rem;

  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
    color: #a7a7a7;
  }
}

.filter-toolbar {
  &__title {
    display: block;
    margin-bottom: 15px;
    padding-top: 4px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid $line;
    color: $primary;
    font-size: 0.9rem;
  }

  &__box {
    @extend .bsh;
    @extend .bdrs;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 15px;
    background: #fff;

    &--dates {
      .button {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }

  &__item {
    padding: 6px 0;
    width: 48%;
  }

  .label {
    display: block;
    margin-bottom: 6px;
    color: #838383;
    font-size: 0.7rem;
  }

  .value {
    @extend .bdrs;
    display: block;
    padding: 6px;
    width: 100%;
    outline: transparent;
    border: 1px solid $line;
    font-size: 0.8rem;
    transition: border-color 0.3s;

    &:focus,
    &:hover {
      border-color: $primary;
    }
  }
}

.apply-filters {
  margin-top: 15px;
  width: 100%;
}

.grid-content {
  width: calc(100% - 330px);

  &__controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid $line;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    .controls__title {
      font-size: 1.1rem;
    }

    .controls__button {
      margin-left: 8px;
      font-size: 0.8rem;
    }
  }

  &__card {
    @extend .bdrs;
    @extend .bsh;
    position: relative;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #fff;
  }
}

.person-list {
  padding: 15px 10px;

  .cellListEvenItem,
  .cellListOddItem {
    @extend .bdrs;
    position: relative;
    padding: 15px;
    border: 1px solid $line;
    background: #fff;
  }
}

.person-cell {
  &__profile {
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 0.9rem;

    img {
      display: inline-block;
      margin-bottom: 8px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .caption {
      span {
        display: inline-block;
        margin-right: 1px;
      }
    }
  }

  &__content {
    font-size: 0.9rem;
  }

  &__badges {
    position: absolute;
    top: -15px;
    left: 15px;
    z-index: 1;
    width: 100%;
  }

  &__badge {
    display: inline-block;
    margin: 3px;
    padding: 6px 8px;
    border-radius: 32px;
    background: $primary;
    color: #fff;
    font-size: 0.7rem;
  }

  &__item {
    margin: 8px 0;
    color: #595959;
    word-break: break-word;
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid $line;

    .button {
      margin: 4px;
      padding: 7px 14px;
      font-size: 0.7rem;
    }
  }
}

.personal-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;

  &__item {
    @extend .bdrs;
    margin: 4px;
    padding: 6px 10px;
    background: #f9f9f9;
    color: #a7a7a7;
    font-size: 0.7rem;
  }
}

.grid-view {
  & > div {
    display: flex;
    flex-wrap: wrap;
  }

  .cellListEvenItem,
  .cellListOddItem {
    margin: 15px;
    padding: 15px 15px 80px;
    width: calc(33.333333% - 30px);
  }

  .person-cell {
    &__badges {
      left: 50%;
      text-align: center;
      transform: translateX(-50%);
    }

    &__profile {
      text-align: center;
    }

    &__content {
      text-align: center;
    }

    &__controls {
      justify-content: center;
      margin-top: 0;
    }

    &__nav {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding-bottom: 15px;
    }

    .personal-info {
      justify-content: center;
    }
  }
}

.table-view {
  .cellListEvenItem,
  .cellListOddItem {
    margin: 30px 15px;
    width: calc(100% - 30px);
  }

  .cellListEvenItem {
    &:first-child {
      margin-top: 15px;
    }
  }

  .person-cell {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__header {
      padding-top: 15px;
      width: 30%;
    }

    &__content {
      margin: -15px 0;
      padding: 15px;
      width: calc(70% - 140px);
      border-left: 1px solid $line;
    }

    &__nav {
      margin: -15px -15px -15px 0;
      padding: 15px;
      width: 140px;
      border-left: 1px solid $line;
    }

    &__controls {
      margin-top: 0;
      padding-top: 0;
      border-top: none;

      .button {
        margin: 0 0 6px;
        width: 100%;
      }
    }
  }
}

.fetch {
  display: block;
  margin: 30px auto;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 160px;
}
@import 'style1400', 'style1200', 'style992', 'style768', 'style576';
